# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
app/data/*.db
app/data/*.db-journal

# Cached covers
app/static/covers/*
!app/static/covers/.gitkeep

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
